<div class="d-flex justify-content-center align-items-center vh-100">

  <div class="itc-bg-color-background-accent border" style="max-width: 550px;">
    <!-- Gross Annual Salary Input -->
    <div class="d-flex flex-row align-items-center" style="height: 75px;">
      <div class="p-2">
        <label for="grossAnnualSalaryFormControl">Gross Annual Salary: </label>
      </div>
      <div class="p-2">
        <input id="grossAnnualSalaryFormControl"
               type="text"
               [formControl]="grossAnnualSalaryFormControl"
               class="form-control">
      </div>
      <div class="p-2">
        <button [disabled]="grossAnnualSalaryFormControl.invalid || grossAnnualSalaryFormControl.disabled"
                type="button"
                (click)="calculateIncomeTax()"
                class="btn btn-secondary"
                style="width:100px;">
          <span *ngIf="grossAnnualSalaryFormControl.disabled" class="spinner-border spinner-border-sm mr-1"></span>
          Calc
        </button>
      </div>
    </div>

    <!-- Gross Annual Salary Validation Errors -->
    <div *ngIf="grossAnnualSalaryFormControl.invalid && (grossAnnualSalaryFormControl.dirty || grossAnnualSalaryFormControl.touched)"
         class="alert alert-danger mx-2 mb-3">
      <div *ngIf="grossAnnualSalaryFormControl.errors.required">
        Gross annual salary value is required
      </div>
      <div *ngIf="grossAnnualSalaryFormControl.errors.min">
        Gross annual salary value should be more than zero
      </div>
    </div>

    <hr class="m-0">

    <!-- Gross Annual Salary Output -->
    <div *ngIf="incomeTaxOutputInfo" class="d-flex flex-column mb-3">
      <div class="p-2">Gross Annual Salary: {{incomeTaxOutputInfo.grossAnnualSalary}} £</div>
      <div class="p-2">Gross Monthly Salary: {{incomeTaxOutputInfo.grossMonthlySalary}} £</div>
      <div class="p-2">Net Annual Salary: {{incomeTaxOutputInfo.netAnnualSalary}} £</div>
      <div class="p-2">Net Monthly Salary: {{incomeTaxOutputInfo.netMonthlySalary}} £</div>
      <div class="p-2">Annual Tax Paid: {{incomeTaxOutputInfo.annualTaxPaid}} £</div>
      <div class="p-2">Monthly Tax Paid: {{incomeTaxOutputInfo.monthlyTaxPaid}} £</div>
    </div>

  </div>
</div>
