<div class="card text-dark bg-light mb-3" style="max-width: 500px;">
  <div class="card-header text-center">
    <label for="grossAnnualSalaryFormControl">Gross Annual Salary: </label>
    <input id="grossAnnualSalaryFormControl" type="text" [formControl]="grossAnnualSalaryFormControl">
    <button [disabled]="grossAnnualSalaryFormControl.invalid || grossAnnualSalaryFormControl.disabled"
            type="button"
            (click)="calculateIncomeTax()">
      Calc
    </button>
    <div *ngIf="grossAnnualSalaryFormControl.invalid && (grossAnnualSalaryFormControl.dirty || grossAnnualSalaryFormControl.touched)"
         class="alert alert-danger">
      <div *ngIf="grossAnnualSalaryFormControl.errors.required">
        Gross annual salary value is required
      </div>
      <div *ngIf="grossAnnualSalaryFormControl.errors.min">
        Gross annual salary value should be more than zero
      </div>
    </div>


    <div *ngIf="grossAnnualSalaryFormControl.disabled">Loading</div>
  </div>
  <div *ngIf="incomeTaxOutputInfo" class="card-body">
    <ul>
      <li class="card-text">Gross Annual Salary: {{incomeTaxOutputInfo.grossAnnualSalary}} £</li>
      <li>Gross Monthly Salary: {{incomeTaxOutputInfo.grossMonthlySalary}} £</li>
      <li>Net Annual Salary: {{incomeTaxOutputInfo.netAnnualSalary}} £</li>
      <li>Net Monthly Salary: {{incomeTaxOutputInfo.netMonthlySalary}} £</li>
      <li>Annual Tax Paid: {{incomeTaxOutputInfo.annualTaxPaid}} £</li>
      <li>Monthly Tax Paid: {{incomeTaxOutputInfo.monthlyTaxPaid}} £</li>
     </ul>
  </div>
</div>
