 /* Background colors */
.itc-bg-color-background {
  background-color: var(--background-color) !important;
}

.itc-bg-color-background-accent {
  background-color: var(--background-color-accent) !important;
}

/* Colors */
.itc-color-background {
  color: var(--background-color) !important;
}

.itc-color-background-accent {
  color: var(--background-color-accent) !important;
}
